/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(189, 240, 240), gray);
    padding: 10px 20px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;

}

.nav-links li {

    margin: 0 15px;
}

.nav-links a {
    color: rgb(232, 237, 233);
    text-decoration: none;
    font-size: 18px;
}

a :hover {
    background-color: rgb(197, 24, 24)
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {

    .nav-links {
        display: inline;

    }

    @media screen and (max-width: 768px) {
        .navbar {
            display: inline;
        }

    }


    .burger {
        display: flex;
    }
}

.foodie-details {
    width: 50%;
    margin-left: 2rem;
    margin-right: 5rem;
}

.image-container img {
    width: 100%;
    height: auto;
    max-width: 500px;
    /* Prevents the image from becoming too large */
    border-radius: 10px;
}

.foodi-image-container {
    display: flex;
    margin-top: 2rem;
    width: 50%;
    margin-bottom: 2rem;

}

@media (max-width: 768px) {
    .foodi-image-container {
        display: inline;
    }

}

.foodie-details-para {
    text-align: center;
    align-items: center;
    text-wrap: wrap;
    text-align: justify;
}

.btn-foodi {
    border: 1px solid gray;
    background-color: rgb(59, 215, 59);
    padding: 0.5rem 2rem;
    border-radius: 5px;
    color: #e7e2e2;
}

.btn-container {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.group-image img {
    margin-left: 2rem;
    display: inline-flex;
    padding-right: 2rem;
    margin-bottom: 5rem;
}

.Free-Shipping-payment-full-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid gray;
    border-radius: 5px;
    gap: 5rem;
    margin-left: 2rem;
    display: inline-flex;
    padding-right: 2rem;
    margin-bottom: 5rem;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}




/* .Free-Shipping-payment-full-container img {
    padding-right: 1rem;

} */

/* .Free-Shipping-image {
    display: flex;

} */

/* .payment {
    padding-right: 1rem;
} */